/* index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

body {
  background-image: url("../public/background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Stellt sicher, dass #root die volle Höhe des Bildschirms einnimmt */
}
